@font-face {
  font-family: 'Roboto', monospace;
  src: url(fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", monospace;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-1 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-1 {
    margin-top: 1em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-1 {
    margin-bottom: 1em;
  }
}

.flex-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-2 {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-2 {
    margin-top: 2em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-2 {
    margin-bottom: 2em;
  }
}

.flex-3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-3 {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-3 {
    margin-top: 3em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-3 {
    margin-bottom: 3em;
  }
}

.flex-4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-4 {
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-4 {
    margin-top: 4em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-4 {
    margin-bottom: 4em;
  }
}

.flex-5 {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-5 {
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-5 {
    margin-top: 5em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-5 {
    margin-bottom: 5em;
  }
}

.flex-6 {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-6 {
    -webkit-box-flex: 6;
        -ms-flex-positive: 6;
            flex-grow: 6;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-6 {
    margin-top: 6em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-6 {
    margin-bottom: 6em;
  }
}

.flex-7 {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-7 {
    -webkit-box-flex: 7;
        -ms-flex-positive: 7;
            flex-grow: 7;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-7 {
    margin-top: 7em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-7 {
    margin-bottom: 7em;
  }
}

.flex-8 {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-8 {
    -webkit-box-flex: 8;
        -ms-flex-positive: 8;
            flex-grow: 8;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-8 {
    margin-top: 8em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-8 {
    margin-bottom: 8em;
  }
}

.flex-9 {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-9 {
    -webkit-box-flex: 9;
        -ms-flex-positive: 9;
            flex-grow: 9;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-9 {
    margin-top: 9em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-9 {
    margin-bottom: 9em;
  }
}

.flex-10 {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-10 {
    -webkit-box-flex: 10;
        -ms-flex-positive: 10;
            flex-grow: 10;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-10 {
    margin-top: 10em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-10 {
    margin-bottom: 10em;
  }
}

.flex-11 {
  -webkit-box-flex: 11;
      -ms-flex-positive: 11;
          flex-grow: 11;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-11 {
    -webkit-box-flex: 11;
        -ms-flex-positive: 11;
            flex-grow: 11;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-11 {
    margin-top: 11em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-11 {
    margin-bottom: 11em;
  }
}

.flex-12 {
  -webkit-box-flex: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-sm-12 {
    -webkit-box-flex: 12;
        -ms-flex-positive: 12;
            flex-grow: 12;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mt-md-12 {
    margin-top: 12em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .mb-md-12 {
    margin-bottom: 12em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.nav-link {
  color: #E5E5E5;
  text-decoration: none;
  font-size: 1em;
  margin-left: 1.5em;
  padding: 0.5rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 575.98px) {
  .nav-link {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .nav-link {
    display: none;
  }
}

.burger {
  display: none !important;
  color: inherit;
  margin-left: calc(35% - 60px);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2em;
}

@media (max-width: 575.98px) {
  .burger {
    display: inline-block !important;
  }
}

@media (max-width: 767.98px) {
  .burger {
    display: inline-block !important;
  }
}

.nav-link:hover {
  color: #FCA311;
}

.nav-logo {
  color: #E5E5E5;
  text-decoration: none;
  font-size: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav {
  margin: 0;
}

.nav-dark {
  background-color: #14213D;
  color: #E5E5E5;
}
/*# sourceMappingURL=styles.css.map */