$yellow:#FCA311;
$black:#000000;
$blue:#14213D;
$platinum:#E5E5E5;
$white:#FFFFFF;



$columns:12;

h1 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #e5e5e5;
}

.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: .5em;
}

@for $i from 1 through $columns {
    .col-#{$i} {
        grid-column: span $i;
    }


    @media(min-width: 576px) and (max-width:768px){
        .col-sm-#{$i}{
            grid-column: span $i;
        }
    }

    .mt-md-#{$i}{
        @media(min-width:768px) and (max-width: 992px){
            margin-top: #{$i}em;
        }
    }
    
    .mb-md-#{$i}{
        @media(min-width:768px) and (max-width: 992px){
            margin-bottom: #{$i}em;
        }
    }

}


.flex-this-start {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.flex-this-nav {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

ul {
    list-style: none;
    color: $platinum;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    font-weight: bold;

}


.bg-yellow {
    background-color: $yellow;
}

.bg-black {
    background-color: $black;
}

.bg-blue {
    background-color: $blue;
}

.bg-platinum {
    background-color: $platinum;
}

.bg-white {
    background-color: $white;
}
